{% extends 'base.html.twig' %}

{% block title %}Tienda{% endblock %}

{% block body %}
    <h1>Tienda</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tienda.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tienda.nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ tienda.direccion }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ tienda.createdAt ? tienda.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tienda_index') }}">back to list</a>

    <a href="{{ path('tienda_edit', {'id': tienda.id}) }}">edit</a>

    {{ include('tienda/_delete_form.html.twig') }}
{% endblock %}
